<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title><%= serverName %> Dashboard</title>
</head>
<body>
    <div class="background"></div>
    <div class="container">
        <h1>Welcome, <%= username %>!</h1>
        <h2><%= serverName %> Username: <%= fso_username %></h2>
        <h2 id="simtime"></h2>
        <a href="/password" class="button">Change Password</a>
        <a href=<%= client_download %> class="button">Download <%= serverName %> Client</a>
        <a href="/logout" class="button logout">Logout</a>
    </div>
    <script>
        function updateTSOClock() {
            const currentTime = new Date(),
                utcMinutes = currentTime.getUTCMinutes(),
                utcSeconds = currentTime.getUTCSeconds();
            let timePeriod = 'AM', totalSeconds = 0;
            if (currentTime.getUTCHours() % 2 === 1) {
                totalSeconds = 3600;
                timePeriod = 'PM';
            }
            totalSeconds += utcMinutes * 60 + utcSeconds;
            let hour = Math.floor(totalSeconds / 300);
            if (hour > 12) {
                hour -= 12;
            }
            if (hour === 0) {
                hour = 12;
            }
            let minute = Math.floor(totalSeconds % 300 / 5);
            if (minute < 10) {
                minute = '0' + minute;
            }
            const simTimeElement = document.querySelector('#simtime');
            if (simTimeElement) {
                simTimeElement.textContent = `${hour}:${minute} ${timePeriod}`;
            }
        }

        setInterval(updateTSOClock, 1000);
        updateTSOClock();
    </script>
</body>
</html>
